In [ ]:
import openpyxl
import pandas as pd
import pymysql

In [ ]:
path = "C:/Users/laksh/Desktop/Healthcare/myenv/Healtcare-Dataset.xlsx"
healthcare_df= pd.read_excel(path)
print(healthcare_df)

      Patient_ID Admit_Date Discharge_Date         Diagnosis Bed_Occupancy  \
0          23571 2022-12-31     2023-01-12  Viral Infection        General
1          27781 2023-01-04     2023-01-12           Typhoid           ICU
2          24413 2023-01-05     2023-01-12          Malaria        General
3          27360 2023-01-05     2023-01-12               Flu       Private
4          26097 2023-01-06     2023-01-12  Viral Infection        General
...          ...        ...            ...               ...           ...
7152       29885 2024-03-03     2024-03-07           Typhoid       Private
7153       26517 2024-03-04     2024-03-07        Pneumonia        Private
7154       28201 2024-03-05     2024-03-07               Flu       General
7155       24833 2024-03-06     2024-03-07           Typhoid       Private
7156       30727 2024-03-06     2024-03-07  Viral Infection        Private

            Test       Doctor Followup Date  Feedback  Billing Amount  \
0            MRI    Jay Sinha    2023-01-20       5.0           13234
1            MRI  Jaya Yaadav    2023-01-16       4.0           12241
2        CT Scan    Jay Sinha    2023-01-15       5.0           35255
3          X-Ray  Jaya Yaadav    2023-01-19       5.0            6582
4     Blood Test  Jaya Yaadav    2023-02-06       4.9            4567
...          ...          ...           ...       ...             ...
7152  Blood Test    Jay Sinha    2024-03-10       5.0            2342
7153     CT Scan  Jaya Yaadav    2024-03-14       5.0           24943
7154  Blood Test    Jay Sinha           NaT       3.5            2343
7155       X-Ray     Mark Joy    2024-03-15       4.9            3475
7156  Ultrasound  Jaya Yaadav    2024-03-11       5.0           66537

      Health Insurance Amount
0                     11910.6
1                     11016.9
2                     31729.5
3                      5923.8
4                      4110.3
...                       ...
7152                   2107.8
7153                  22448.7
7154                   2108.7
7155                   3127.5
7156                  59883.3

[7157 rows x 11 columns]

In [5]:
print(healthcare_df.describe())

         Patient_ID                     Admit_Date  \
count   7157.000000                           7157
mean   27149.000000  2023-07-24 09:14:42.772111360
min    23571.000000            2022-12-05 00:00:00
25%    25360.000000            2023-04-03 00:00:00
50%    27149.000000            2023-07-22 00:00:00
75%    28938.000000            2023-11-11 00:00:00
max    30727.000000            2024-03-06 00:00:00
std     2066.192271                            NaN

                      Discharge_Date                  Followup Date  \
count                           7157                           7035
mean   2023-08-01 15:14:27.681989376  2023-08-09 09:35:47.718550272
min              2023-01-12 00:00:00            2023-01-15 00:00:00
25%              2023-04-11 00:00:00            2023-04-21 00:00:00
50%              2023-07-31 00:00:00            2023-08-08 00:00:00
75%              2023-11-20 00:00:00            2023-11-26 00:00:00
max              2024-03-07 00:00:00            2024-03-15 00:00:00
std                              NaN                            NaN

          Feedback  Billing Amount  Health Insurance Amount
count  7157.000000     7157.000000              7157.000000
mean      4.723543    26607.891854             23947.102669
min       3.500000     1223.000000              1100.700000
25%       4.500000     5454.000000              4908.600000
50%       5.000000    12348.000000             11113.200000
75%       5.000000    43522.000000             39169.800000
max       5.000000    95867.000000             86280.300000
std       0.479901    25791.931009             23212.737908

In [6]:
print(healthcare_df.isnull().sum())

Patient_ID                   0
Admit_Date                   0
Discharge_Date               0
Diagnosis                    0
Bed_Occupancy                0
Test                         0
Doctor                       0
Followup Date              122
Feedback                     0
Billing Amount               0
Health Insurance Amount      0
dtype: int64

In [7]:
print(healthcare_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7157 entries, 0 to 7156
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Patient_ID               7157 non-null   int64
 1   Admit_Date               7157 non-null   datetime64[ns]
 2   Discharge_Date           7157 non-null   datetime64[ns]
 3   Diagnosis                7157 non-null   object
 4   Bed_Occupancy            7157 non-null   object
 5   Test                     7157 non-null   object
 6   Doctor                   7157 non-null   object
 7   Followup Date            7035 non-null   datetime64[ns]
 8   Feedback                 7157 non-null   float64
 9   Billing Amount           7157 non-null   int64
 10  Health Insurance Amount  7157 non-null   float64
dtypes: datetime64[ns](3), float64(2), int64(2), object(4)
memory usage: 615.2+ KB
None

In [8]:
# Remove rows where 'Followup Date' column has null values
healthcare_df_cleaned = healthcare_df[healthcare_df['Followup Date'].notnull()]

print("\nDataFrame after removing null values:")
print(healthcare_df_cleaned)

DataFrame after removing null values:
      Patient_ID Admit_Date Discharge_Date         Diagnosis Bed_Occupancy  \
0          23571 2022-12-31     2023-01-12  Viral Infection        General
1          27781 2023-01-04     2023-01-12           Typhoid           ICU
2          24413 2023-01-05     2023-01-12          Malaria        General
3          27360 2023-01-05     2023-01-12               Flu       Private
4          26097 2023-01-06     2023-01-12  Viral Infection        General
...          ...        ...            ...               ...           ...
7151       28622 2024-03-02     2024-03-07               Flu       General
7152       29885 2024-03-03     2024-03-07           Typhoid       Private
7153       26517 2024-03-04     2024-03-07        Pneumonia        Private
7155       24833 2024-03-06     2024-03-07           Typhoid       Private
7156       30727 2024-03-06     2024-03-07  Viral Infection        Private

            Test       Doctor Followup Date  Feedback  Billing Amount  \
0            MRI    Jay Sinha    2023-01-20       5.0           13234
1            MRI  Jaya Yaadav    2023-01-16       4.0           12241
2        CT Scan    Jay Sinha    2023-01-15       5.0           35255
3          X-Ray  Jaya Yaadav    2023-01-19       5.0            6582
4     Blood Test  Jaya Yaadav    2023-02-06       4.9            4567
...          ...          ...           ...       ...             ...
7151       X-Ray       Ravi D    2024-03-11       4.0            6784
7152  Blood Test    Jay Sinha    2024-03-10       5.0            2342
7153     CT Scan  Jaya Yaadav    2024-03-14       5.0           24943
7155       X-Ray     Mark Joy    2024-03-15       4.9            3475
7156  Ultrasound  Jaya Yaadav    2024-03-11       5.0           66537

      Health Insurance Amount
0                     11910.6
1                     11016.9
2                     31729.5
3                      5923.8
4                      4110.3
...                       ...
7151                   6105.6
7152                   2107.8
7153                  22448.7
7155                   3127.5
7156                  59883.3

[7035 rows x 11 columns]

In [10]:
import pymysql
mydb=pymysql.connect(
    host="localhost",
    user="root",
    password="LT2408",
    port=3306
)
mydb

In [11]:
mycursor=mydb.cursor()
mycursor

In [12]:
mycursor.execute('SHOW DATABASES')
for i in mycursor:
    print(i)

('healthcare',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sales',)
('sys',)
('world',)

In [13]:
import pandas as pd
from sqlalchemy import create_engine

# Database connection 
db_username = "root"
db_password = "LT2408"
db_host = "localhost"
db_name = "healthcare"

# Create an engine 
engine = create_engine(f"mysql+pymysql://{db_username}:{db_password}@{db_host}/{db_name}")

# Convert datetime columns to proper format
healthcare_df["Admit_Date"] = pd.to_datetime(healthcare_df["Admit_Date"])
healthcare_df["Discharge_Date"] = pd.to_datetime(healthcare_df["Discharge_Date"])
healthcare_df["Followup Date"] = pd.to_datetime(healthcare_df["Followup Date"])

# Insert DataFrame into SQL Table.to_sql(name="patient_data", con=engine, if_exists="append", index=False)

# Insert DataFrame into SQL Table
healthcare_df.to_sql(name="patient_data", con=engine, if_exists="append", index=False)

print("Data inserted successfully!")

Data inserted successfully!